@model QuanLyCuaHangThucAnNhanh.Models.MONAN
@using QuanLyCuaHangThucAnNhanh.Models
@{
    ViewBag.Title = "Edit";
}
<div class="card-header">
    <h2 class="title">Sửa món ăn</h2>

</div>

@using (Html.BeginForm("Edit", "MONANs", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="table">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group1">
                        <p class="tieude">Mã món ăn</p>
                        @Html.EditorFor(model => model.MaMonAn, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly", style = "background:white" } })
                        @Html.HiddenFor(model => model.MaMonAn)
                        @Html.ValidationMessageFor(model => model.MaMonAn, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group1">
                        <p class="tieude">Tên Món ăn</p>
                        @Html.EditorFor(model => model.TenMonAn, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TenMonAn, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group1">
                        <p class="tieude">Giá</p>
                        @Html.EditorFor(model => model.GiaTien, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.GiaTien, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group1">
                        <p class="tieude">Số lượng</p>
                        @Html.EditorFor(model => model.SoLuong, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SoLuong, "", new { @class = "text-danger" })

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group1">
                        <p class="tieude">Loại món ăn</p>
                        @Html.DropDownList("MaLoaiMonAn", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MaLoaiMonAn, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group1">
                        <p class="tieude">Ảnh</p>
                        @Html.Image("../../" + Model.Anh, "", "100")
                        @Html.TextBox("AnhUpload", "", new { type = "file" })
                        @Html.Hidden("Anh")

                    </div>
                </div>
            </div>

            <div class="form-group1">
                <div class="col-md-offset-2 col-md-10">
                    <input class="btn inp" type="submit" value="Lưu" />
                </div>
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
