@model QuanLyCuaHangThucAnNhanh.Models.TAIKHOAN

@{
    ViewBag.Title = "Delete";
}

<h2 class="title">Xóa</h2>


<div>
 
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenTaiKhoan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenTaiKhoan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MatKhau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatKhau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaQuyen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaQuyen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaNhanVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaNhanVien)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Hủy", "Index")
        </div>
    }
</div>
