@model IEnumerable<QuanLyCuaHangThucAnNhanh.Models.QUYEN>

@{
    ViewBag.Title = "Index";
}

<h2 class="title">Quyền</h2>

<div class="row">
    <div class="col-sm-12">
        <div class="table-responsive">
            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
            <table id="example" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.TenQuyen)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.GhiChu)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TenQuyen)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GhiChu)
                        </td>
                        <td>
                            @Html.ActionLink("Sửa", "Edit", new { id = item.MaQuyen.Trim() }) |
                        
                            @Html.ActionLink("Xóa", "Delete", new { id = item.MaQuyen.Trim() })
                        </td>
                    </tr>


                    }
                </tbody>

            </table>

            <a class="btn btn-success btn-sm" style="float:right" href="@Url.Action("Create", "QUYENs")">Thêm</a>


            <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
            <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

            <script>
                $(document).ready(function () {
                    $('#example').DataTable({
                        "pagingType": "full_numbers"
                    });
                });
            </script>

        </div>
    </div>
</div>


